pkgbase = italian-schools-data-fetcher-git
	pkgdesc = Retrieve Italian schools data from MIUR.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.ge18d36d2ad2742dea9cfff91a0a42b82dd5303c1
	pkgrel = 1
	url = https://github.com/themartiancompany/italian-schools-data-fetcher
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = libcrash-bash
	provides = italian-schools-data-fetcher=0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.ge18d36d2ad2742dea9cfff91a0a42b82dd5303c1
	conflicts = italian-schools-data-fetcher
	source = italian-schools-data-fetcher.tar.gz::https://github.com/themartiancompany/italian-schools-data-fetcher/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = italian-schools-data-fetcher-git
